<h1>Tickets</h1>
<div class="card">
  <div class="card-header">
    <div class="d-flex">
        <div>
           <strong>Nombre:</strong>
        </div>
        <div class="ml-auto">
           <%= @ticket.user.email %>
        </div>
   </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Evento:</strong> <%= @ticket.event.name %></h5>
    <p class="card-text"><strong>Descripción del evento:</strong> <%= @ticket.event.description %></p>
    <p><strong>Precio: </strong><%= number_to_currency(@ticket.event.price, precision: 0) %></p>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex">
        <div>
          Ticket adquirido: <%= @ticket.created_at.strftime("%d-%m-%Y") %>
        </div>
        <div class="ml-auto">
          <%= link_to 'Volver', tickets_path, class: 'btn btn-sm btn-warning' %>
        </div>
   </div>
  </div>
</div>
